<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Inky Desk</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <h2>@DateTime.Now.ToString("dddd")</h2>
    <h1>@DateTime.Now.ToString("MMM dd")</h1>
</body>

</html>